.Screen3{
    position: relative;
}

.wall{
    height: 615px;
    width: 100%;
    display: flex;
    justify-content: center;
    top: 1303px;
    Left:-10874px;
    background: #FFFFFF;
}

.dialog{
  display: flex;
  position: absolute;
  top: 9px;
  right: 600px;
  font-size: 56px;
  height: 190px;
  width: 95px;
}

.dialog p{
    display: inline-block;
    font-size: 30px;
    position: absolute;
    top: 0.1px;
    left: 35px;
    color:#11AEC6;
    font-weight: 800;
    line-height: 1.5em;
    /* text-overflow: ellipsis; */
    /* height: 3em; */
    white-space: nowrap;
}

.Screen3 .btn{
    width: 90px;
    height: 50px;
    left: 900px;    
    position: absolute;
    top: 450px;
}

.Screen3 .btn img{
    width: 250px;
    height: 90px;
}

.prev{
    width: 50px;
    height: 50px;
    position: absolute;
    top: 0.1px;
    left: 210px;
}

.prev img{
    width: 140px;
    height: 140px;
    top: 0;
}